// ------ COLORS ------

$color-primary: #58e1c1;
$link-color: #51ddfc;
$white: #fff;
$grey: #777;
$light-grey: #ccc;
$theme-one: #927bc1;

// ------ BREAKPOINTS ------

$break-s: 767px;
$break-m: 768px;
$break-l: 1024px;